/*GENERALITIES*/
button {
	text-shadow: none !important;
}
label {
	font-family: "Avenir Next Condensed";
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	font-size: 10px;
}
div {
	cursor: default;
	box-sizing: border-box;
}
input[type=text] {
	font-family: "Avenir Next Condensed";
	border: none;
	background: none;
	box-shadow: none;
	width: 100%;
	padding: 5px;
	color: #3d4051;
	border-radius: 0;
	transition: all 0.2s;
}
textarea {
	box-shadow: none;
	font-family: "Avenir Next Condensed";
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: transparent;
	color: #3d4051;
	resize: vertical;
	display: block;
	transition: all 0.2s;
}
li {
	cursor: default;
}
li,
li input[type=text] {
	font-family: "Avenir Next";
	position: relative;
	color: #3d4051;
}
li:after {
	background: #3d4051;
	transform: rotate(45deg);
	content: '';
	display: block;
	position: absolute;
	left: 0;
}
ul {
	list-style: none;
	margin: 0;
	box-sizing: border-box;
}
span {
	font-family: "Avenir Next Condensed";
	cursor: default;
}
input[type=checkbox],
input[type=radio] {
	opacity: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
	position: absolute;
}
input[type=checkbox] + span,
input[type=radio] + span {
	cursor: pointer;
	transition: all 0.2s;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*input[type=number] {
	color: #3d4051;
	box-shadow: none;
}*/
.sheet-hidden {
	display: none !important;
}

.sheet-type-character .sheet-regularitems .repitem input[name="attr_short"]:checked ~ input[name="attr_expand"]:not(:checked) ~ .sheet-repeating-item {
	width: 93.5px;
}

.sheet-type-character {
	position: relative;
	top: -4px;
	width: 100%;
	min-width: 830px;
}
.sheet-vigor-logo {
    width: 100%;
    margin-bottom: 15px;
    padding: 10 10 20 10;
}

/* COLUMN LAYOUT */
.sheet-flex {
	display: flex;
}
.sheet-flex-wrap {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.sheet-flex-center {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sheet-right-column {
    padding-left: 15px;
}
.sheet-col47 {
	width: 47%
}
.sheet-col53 {
	width: 53%;
}
.sheet-col20 {
    width: 20%;
}
.sheet-col37 {
	width: 37%;
}
.sheet-col24b {
	width: 24.25%;
}
.sheet-col30{
    width: 30%;
}
.sheet-col50 {
	width: 50%;
}
.sheet-col52b {
	width: 53%;
}
.sheet-col55 {
	width: 55%;
}
.sheet-col40 {
    width: 40%;
}
.sheet-col45{
	width: 45%;
}
.sheet-col63 {
	width: 63%;
}
.sheet-col60 {
    width: 60%;
}
.sheet-col70{
    width: 70%;
}
.sheet-col97 {
    width: 97%;
}
.sheet-col100 {
	width: 100%;
}
/* MARGINS */
.sheet-section-margin {
    margin: 15px 0 0 0;
}
.sheet-bottom-margin {
    margin: 10px 0 0 0;
}
.sheet-small-indent {
    margin-left: 10px;
    margin-right: 10px;
}
/* BACKGROUNDS, LINES, & DIVIDERS */
.sheet-grey-background {
    background-color: #dadada;
    width:100%;
    height:100%;
    margin-left: 2px;
    position: relative;
}
.sheet-section-divider {
	background-color: #000000;
	width: 100%;
	height: 12px;
	color: white;
	padding: 5px 5px 5px 5px;
}
.sheet-narr-xp-bar {
    float: right;
    background-color: #969696;
    width: 55%;
	height: 15px;
	color: #000000;
	margin: 1px 0 0 0;;
}
.sheet-flaw-xp-bar {
    float: right;
    background-color: #969696;
	width: 70%;
	height: 15px;
	color: #000000;
	margin: 1px 0 0 0;;
}
.sheet-nat-xp-bar {
    float: right;
    background-color: #969696;
	width: 60%;
	height: 15px;
	color: #000000;
	margin: 1px 0 0 0;
}
.sheet-journey-bar {
    float: right;
    background-color: #969696;
	width: 100%;
	height: 15px;
	color: #000000;
	margin: 1px 0 0 0;
}
.sheet-qualities-bar {
	background-color: #000000;
	float: right;
	width: 100%;
	height: 15px;
	color: white;
}

.sheet-xp-align {
    float: right;
    margin-right: 5px;
}
.sheet-qual-xp-align {
    flex: 1;
    float: right;
}
/* VIGOR XP ICON */
.sheet-vigor-xp {
	position: absolute;
	padding: 2px;
	z-index: 1;
	margin-left: 65%;
	height: 109px;
	width: 95px;
	transition: all 0.2s;
}
.sheet-vigor .sheet-section-divider {
	text-align: center;
}
.sheet-vigor {
	position: relative;
}
.sheet-vigor .sheet-italic {
	font-size: 9px;
}
.sheet-vigor> div:nth-child(2) {
	line-height: 11px;
	text-align: center;
	padding: 2px 0 0 5px;
}
.sheet-vigor .sheet-vigor-xp {
	margin-top: -37px;
	
}
.sheet-vigor .sheet-zeroholder {
	margin: -7px 0 0 60%;
	z-index: 3;
}
/* Positioning inputs on clocks */
.sheet-4clock.sheet-vigor-xp input {
	height: 20px;
	width: 40px;
}
.sheet-4clock.sheet-vigor-xp input[value="1"] {
	margin-left: 20px;
	margin-top: 33px;
	transform: rotate(42deg);
}
.sheet-4clock.sheet-vigor-xp input[value="2"] {
	margin-top:46px;
}
.sheet-4clock.sheet-vigor-xp input[value="3"] {
	margin-left: 40px;
	margin-top: 33px;
}
.sheet-4clock.sheet-vigor-xp input[value="4"] {
	margin-left: 40px;
	margin-top: 52px;
}
input[name="attr_vigor_xp"][value="0"]:checked ~ .sheet-4clock.sheet-vigor-xp {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/VigorXP-0.png);
}
input[name="attr_vigor_xp"][value="1"]:checked ~ .sheet-4clock.sheet-vigor-xp {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/VigorXP-1.png);
}
input[name="attr_vigor_xp"][value="2"]:checked ~ .sheet-4clock.sheet-vigor-xp {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/VigorXP-2.png);
}
input[name="attr_vigor_xp"][value="3"]:checked ~ .sheet-4clock.sheet-vigor-xp {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/VigorXP-3.png);
}
input[name="attr_vigor_xp"][value="4"]:checked ~ .sheet-4clock.sheet-vigor-xp {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/VigorXP-4.png);
}
/* WOUNDS MINOR ICON */
.sheet-minor-wounds-holder {
	position: absolute;
	padding: 2px;
	z-index: 1;
	margin-left: 20%;
	margin-top: 15px;
	height: 54px;
	width: 66px;
}
input.sheet-minor-wounds-holder + span:last-child {
	margin-right: 2px !important;
}
input.sheet-minor-wounds-holder:last-of-type {
	width: 66px;
	padding: -2px;
	margin: -2px;
}
input.sheet-minor-wounds-holder:hover + span {
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.sheet-minor-wounds .sheet-qualities-bar {
	text-align: center;
}
.sheet-minor-wounds {
	position: relative;
}
.sheet-minor-wounds .sheet-italic {
	font-size: 9px;
}

.sheet-minor-wounds .sheet-minor-wounds-holder {
	margin-top: -30px;
	
}
.sheet-minor-wounds .sheet-zeroholder {
	margin: -2px 0 0 6px;
	z-index: 3;
}
/* Positioning inputs on clocks */
.sheet-wound-4clock.sheet-minor-wounds-holder input {
	height: 10px;
	width: 30px;
}
.sheet-wound-4clock.sheet-minor-wounds-holder input[value="1"] {
	margin-left: 15px;
	margin-top: 16px;
	transform: rotate(42deg);
}
.sheet-wound-4clock.sheet-minor-wounds-holder input[value="2"] {
	margin-top:23px;
}
.sheet-wound-4clock.sheet-minor-wounds-holder input[value="3"] {
	margin-left: 25px;
	margin-top: 16px;
	transform: rotate(-42deg);
}
.sheet-wound-4clock.sheet-minor-wounds-holder input[value="4"] {
	margin-left: 25px;
	margin-top: 26px;
}
input[name="attr_minor_wounds_1"][value="0"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder,
input[name="attr_minor_wounds_2"][value="0"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder,
input[name="attr_minor_wounds_3"][value="0"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Wounds-Minor-0.png);
}
input[name="attr_minor_wounds_1"][value="1"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder,
input[name="attr_minor_wounds_2"][value="1"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder,
input[name="attr_minor_wounds_3"][value="1"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Wounds-Minor-1.png);
}
input[name="attr_minor_wounds_1"][value="2"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder,
input[name="attr_minor_wounds_2"][value="2"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder,
input[name="attr_minor_wounds_3"][value="2"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Wounds-Minor-2.png);
}
input[name="attr_minor_wounds_1"][value="3"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder,
input[name="attr_minor_wounds_2"][value="3"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder,
input[name="attr_minor_wounds_3"][value="3"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Wounds-Minor-3.png);
}
input[name="attr_minor_wounds_1"][value="4"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder,
input[name="attr_minor_wounds_2"][value="4"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder,
input[name="attr_minor_wounds_3"][value="4"]:checked ~ .sheet-wound-4clock.sheet-minor-wounds-holder {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Wounds-Minor-4.png);
}
/* WOUNDS DEBILITATING ICON */
.sheet-deb-wounds-holder {
	position: absolute;
	padding: 2px;
	z-index: 1;
	margin-left: 20%;
	height: 54px;
	width: 66px;
}
input.sheet-deb-wounds-holder + span:last-child {
	margin-right: 2px !important;
}
input.sheet-deb-wounds-holder:last-of-type {
	width: 33px;
	padding: -2px;
	margin: -2px;
}
input.sheet-deb-wounds-holder:hover + span {
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.sheet-deb-wounds .sheet-qualities-bar {
	text-align: center;
}
.sheet-deb-wounds {
	position: relative;
}
.sheet-deb-wounds .sheet-italic {
	font-size: 9px;
}

.sheet-deb-wounds .sheet-deb-wounds-holder {
	margin-top: -30px;
	
}
.sheet-deb-wounds .sheet-zeroholder {
	margin: -2px 0 0 6px;
	z-index: 3;
}
/* Positioning inputs on clocks */
.sheet-wound-2clock.sheet-deb-wounds-holder input {
	height: 33px;
	width: 33px;
}
.sheet-wound-2clock.sheet-deb-wounds-holder input[value="1"] {
	margin-left: 10px;
	margin-top: 0px;;
}
.sheet-wound-2clock.sheet-deb-wounds-holder input[value="2"] {
	margin-left:30px;
}
input[name="attr_deb_wounds_1"][value="0"]:checked ~ .sheet-wound-2clock.sheet-deb-wounds-holder,
input[name="attr_deb_wounds_2"][value="0"]:checked ~ .sheet-wound-2clock.sheet-deb-wounds-holder,
input[name="attr_deb_wounds_3"][value="0"]:checked ~ .sheet-wound-2clock.sheet-deb-wounds-holder {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Wounds-Debilitating-0.png);
}
input[name="attr_deb_wounds_1"][value="1"]:checked ~ .sheet-wound-2clock.sheet-deb-wounds-holder,
input[name="attr_deb_wounds_2"][value="1"]:checked ~ .sheet-wound-2clock.sheet-deb-wounds-holder,
input[name="attr_deb_wounds_3"][value="1"]:checked ~ .sheet-wound-2clock.sheet-deb-wounds-holder {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Wounds-Debilitating-1.png);
}
input[name="attr_deb_wounds_1"][value="2"]:checked ~ .sheet-wound-2clock.sheet-deb-wounds-holder,
input[name="attr_deb_wounds_2"][value="2"]:checked ~ .sheet-wound-2clock.sheet-deb-wounds-holder,
input[name="attr_deb_wounds_3"][value="2"]:checked ~ .sheet-wound-2clock.sheet-deb-wounds-holder {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Wounds-Debilitating-2.png);
}
/* WOUNDS CRITICAL ICON */
.sheet-hide-wound {
    background: transparent;
    margin: -2px 0 0 21px;
}
.sheet-crit-wounds-holder {
	position: absolute;
	padding: 2px;
	z-index: 1;
	margin-left: 20%;
	height: 54px;
	width: 66px;
}
input.sheet-crit-wounds-holder + span:last-child {
	margin-right: 2px !important;
}
input.sheet-crit-wounds-holder:last-of-type {
	width: 66px;
	padding: -2px;
	margin: -2px;
}
input.sheet-crit-wounds-holder:hover + span {
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.sheet-crit-wounds .sheet-qualities-bar {
	text-align: center;
}
.sheet-crit-wounds {
	position: relative;
}
.sheet-crit-wounds .sheet-italic {
	font-size: 9px;
}

.sheet-crit-wounds .sheet-crit-wounds-holder {
	margin-top: -30px;
	
}
.sheet-crit-wounds .sheet-zeroholder {
	margin: -2px 0 0 6px;
	z-index: 3;
}
/* Positioning inputs on clocks */
.sheet-wound-1clock.sheet-crit-wounds-holder input {
	height: 54px;
	width: 54px;
}
.sheet-wound-1clock.sheet-crit-wounds-holder input[value="1"] {
	margin-left: 0px;
	margin-top: 0px;;
}
input[name="attr_crit_wounds_1"][value="0"]:checked ~ .sheet-wound-1clock.sheet-crit-wounds-holder,
input[name="attr_crit_wounds_2"][value="0"]:checked ~ .sheet-wound-1clock.sheet-crit-wounds-holder,
input[name="attr_crit_wounds_3"][value="0"]:checked ~ .sheet-wound-1clock.sheet-crit-wounds-holder {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Wounds-Critical-0.png);
}
input[name="attr_crit_wounds_1"][value="1"]:checked ~ .sheet-wound-1clock.sheet-crit-wounds-holder,
input[name="attr_crit_wounds_2"][value="1"]:checked ~ .sheet-wound-1clock.sheet-crit-wounds-holder,
input[name="attr_crit_wounds_3"][value="1"]:checked ~ .sheet-wound-1clock.sheet-crit-wounds-holder {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Wounds-Critical-1.png);
}

/* QUALITIES */
.sheet-action {
	width: 100%;
	justify-content: space-between;
	height: 22px;
}
.sheet-action:first-child,
.sheet-action:first-child > div:first-child {
	height: 34px;
}
.sheet-action:first-child > div,
.sheet-action:first-child button[type=roll].sheet-actionbutton {
	padding-top: 12px;
}
button[type=roll].sheet-quality-button {
	letter-spacing: 1px;
	text-align: left;
	width: 88px;
}
button[type=roll].sheet-rollbutton:hover {
	color: #a3a376;
}
button[type=roll] {
	font-family: "Avenir Next Condensed";
	background: transparent;
	box-shadow: none;
	letter-spacing: 1px;
	font-weight: 300;
}
button[type=roll]:before {
	content: "" !important;
}
button[type=roll].sheet-rollbutton {
	text-transform: uppercase;
	font-style: italic;
	font-weight: 200;
	letter-spacing: 1px;
	color: #ffffff;
	background: transparent;
	border: none;
	padding: 0;
	font-size: 13px;
	font-weight: 300;
	line-height: 9px;
}
.sheet-action > div {
	width: 15px;
}
.sheet-action > div:first-child {
	border-right: 1px solid #ffffff;
	height: 22px;
	width: 17px;
}
/* XP & RATINGS TRIANGLES */
.sheet-ratings-holder {
    background: transparent;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-right: -30%;
}
.sheet-xp-box {
    margin: 0;
    padding :0;
}
input.sheet-tri {
	width: 18px;
}
input.sheet-tri + span {
	width: 18px;
	display: inline-block;
	vertical-align: top;
}
input.sheet-tri + span:last-child {
	margin-right: 2px !important;
}
input.sheet-tri:last-of-type {
	width: 18px;
}
input.sheet-tri:hover + span {
	filter: alpha(opacity=70);
	opacity: 0.7;
}
input.sheet-rating-tri {
	width: 25px;
}
input.sheet-rating-tri + span {
	width: 25px;
	display: inline-block;
	vertical-align: top;
}
input.sheet-rating-tri + span:last-child {
	margin-right: 2px !important;
}
input.sheet-rating-tri:last-of-type {
	width: 25px;
}
input.sheet-rating-tri:hover + span {
	filter: alpha(opacity=70);
	opacity: 0.7;
}
input.sheet-xptri,
input.sheet-xptri + span {
	height: 15px;
}
input.sheet-rating-tri-up, input.sheet-rating-tri-down,
input.sheet-rating-tri-up + span, input.sheet-rating-tri-down + span {
	height: 22px;
	margin: -2px;
	padding: -5px;
}
/* gold XP tri */
input.sheet-xptri[type=radio] + span,
input.sheet-xptri[type=checkbox]:checked + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/XP-Tri-1.png);
}
/* white XP tri */
input.sheet-xptri[type=checkbox] + span,
input.sheet-xptri:checked ~ input.sheet-xptri[type=radio] + span,
input.sheet-xptri:checked ~ input.sheet-xptri[type=radio] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/XP-Tri-0.png);
}
input.sheet-xptri + span,
input.sheet-xptri[type=radio] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/XP-Tri-1.png);
	margin-right: 1px;
}
input.sheet-tri:checked ~ input.sheet-xptri[type=radio] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/XP-Tri-0.png);
}
/* gold RATING tri */
input.sheet-rating-tri-up[type=radio] + span,
input.sheet-rating-tri-up[type=checkbox]:checked + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Qual-Rating-Up-1.png);
}
input.sheet-rating-tri-down[type=radio] + span,
input.sheet-rating-tri-down[type=checkbox]:checked + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Qual-Rating-Down-1.png);
}
/* white RATING tri */
input.sheet-rating-tri-up[type=checkbox] + span,
input.sheet-rating-tri-up:checked ~ input.sheet-rating-tri-up[type=radio] + span,
input.sheet-rating-tri-up:checked ~ input.sheet-rating-tri-up[type=radio] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Qual-Rating-Up-0.png);
}
input.sheet-rating-tri-up + span,
input.sheet-rating-tri-up[type=radio] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Qual-Rating-Up-1.png);
	margin-right: 1px;
}
input.sheet-tri:checked ~ input.sheet-rating-tri-up[type=radio] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Qual-Rating-Up-0.png);
}
input.sheet-rating-tri-down[type=checkbox] + span,
input.sheet-rating-tri-down:checked ~ input.sheet-rating-tri-down[type=radio] + span,
input.sheet-rating-tri-down:checked ~ input.sheet-rating-tri-down[type=radio] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Qual-Rating-Down-0.png);
}
input.sheet-rating-tri-down + span,
input.sheet-rating-tri-down[type=radio] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Qual-Rating-Down-1.png);
	margin-right: 1px;
}
input.sheet-tri:checked ~ input.sheet-rating-tri-down[type=radio] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Qual-Rating-Down-0.png);
}

/*ASSET QUALITY TRIANGLES*/
input.sheet-qual-tri {
	width: 11px;
}
input.sheet-qual-tri + span {
	width: 11px;
	display: inline-block;
	vertical-align: top;
}
input.sheet-qual-tri + span:last-child {
	margin-right: 0px !important;
}
input.sheet-qual-tri:last-of-type {
	width: 11px;
}
input.sheet-qual-tri:hover + span {
	filter: alpha(opacity=70);
	opacity: 0.7;
}
input.sheet-qual-tri-up, input.sheet-qual-tri-down,
input.sheet-qual-tri-up + span, input.sheet-qual-tri-down + span {
	height: 9px;
	width: 10px;
	margin-top: 4px;
	margin-left: -3px;
	padding: 0px;
}
/* gold QUALITY tri */
input.sheet-qual-tri-up[type=checkbox]:checked + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Asset-Qual-Up-Small-1.png);
}
input.sheet-qual-tri-down[type=checkbox]:checked + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Asset-Qual-Down-Small-1.png);
}
/* white QUALITY tri */
input.sheet-qual-tri-up[type=checkbox] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Asset-Qual-Up-Small-0.png);
}
input.sheet-qual-tri-down[type=checkbox] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Asset-Qual-Down-Small-0.png);
}
input.sheet-qual-tri:checked ~ input.sheet-qual-tri-down[type=radio] + span {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/Asset-Qual-Down-Small-0.png);
}

/*ZERO MARKERS */
input.sheet-zero {
	width: 12px;
	height: 12px;
}
input.sheet-zero + span {
	width: 12px;
	height: 12px;
	margin-top: 2px;
	margin-right: 3px;
	display: inline-block;
	vertical-align: top;
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/XP-Zero1.png);
}
input.sheet-zero[type=radio]:checked + span {
	opacity: 0;
}

/*INPUT TEXT BOXES*/
.sheet-wound-labels {
    font-family: "Avenir Next Condensed";
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 5px;
}
.sheet-subtitle-text {
    font-family: "Avenir Next Condensed";
    text-align: right;
    font-weight: 200;
    letter-spacing: 1px;
    padding-left: 5px;
}
.sheet-header input[type=text] {
	width: 100%;
	border-bottom: 1px solid #000000;
	border-radius: 0;
	font-family: "Avenir Next Condensed";
	font-weight: 300;
	font-size: 16px;
	padding: 3px 5px 0 5px;
	margin: 5px 0 0;
	color: #353d54;
	letter-spacing: 1px;
}
.sheet-header {
    font-weight: 200;
    text-transform: uppercase;
    color: #969696;
}
.sheet-header .sheet-col55 {
	padding-right: 2.5%;
}

/* DROPDOWN MENUS */
.select, 
.sheet-journey-type-menu {
  border: 0px;
  background: transparent;
  font-size: 12px;
  margin-top: 5px;
  width: 50px;
  height: 10px;
}


/* REPEATING CONTAINERS */
.repcontainer[data-groupname="repeating_item"] {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.repcontainer[data-groupname="repeating_item"] .sheet-item {
	flex-grow: 1;
}
.sheet-regularitems button.repcontrol_edit {
	margin-bottom: 17px;
	color: black;
}

.sheet-regularitems .repcontrol {
	height: 38px;
	color: black;
}
.repcontainer[data-groupname="repeating_item"] .repitem {
	display: flex;
	flex-grow: 1;
}
.repcontainer[data-groupname="repeating_item"] {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.repcontainer[data-groupname="repeating_item"] .sheet-item {
	flex-grow: 1;
}
.sheet-small-repcontrol button.repcontrol_edit,
.sheet-small-repcontrol button.repcontrol_add {
	margin-top: 3px;
}
.sheet-small-repcontrol button.repcontrol_edit,
.sheet-small-repcontrol button.repcontrol_add {
	font-weight: 600;
	font-size: 12px;
	font-family: "Avenir Next Condensed";
	padding: 4px;
}

/* TABLES */
.sheet-vigor-table {
    margin-top: -10px;
    width: 60%;
    border-collapse: collapse;
    font-family: "Avenir Next Condensed";
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}
.sheet-vigor-table td {
   border-right: 5px solid #969696;
    border-top: transparent;
    border-left: transparent;
    border-bottom: transparent;
    background: transparent;
    box-shadow: none;
    color: #353d54;
    text-align: center;
    vertical-align: top;  
}
.sheet-vigor-table input[type="number"] {
    border: transparent;
    background: transparent;
    box-shadow: none;
    width: 100%;
    color: #353d54;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: "Avenir Next Condensed";
    font-weight: 300;
    font-size: 32px;
}
.sheet-asset-table {
    width:97%;
    border-collapse: collapse;
    font-family: "Avenir Next Condensed";
    font-style: italic;
    font-weight: 300;
    margin-left: 7px;
}

th.sheet-asset-table {
    border: 5px solid #969696;
    background: #969696;
    color: #ffffff;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    font-size: 14px;
    padding-left: 5px;
}
td.sheet-asset-table {
    border: 0.5px solid #969696;
    background: #ffffff;
    color: #353d54;
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
    font-size: 14px;
    padding-left: 10px;
}
.sheet-journey-table {
    width:97%;
    border-collapse: collapse;
    font-family: "Avenir Next Condensed";
    font-style: italic;
    font-weight: 300;
    margin-left: 7px;
}

th.sheet-journey-table {
    border: 5px solid #969696;
    background: #969696;
    color: #ffffff;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    font-size: 14px;
    padding-left: 5px;
    padding-right:7px;
}
td.sheet-journey-table {
    border: 0.5px solid #969696;
    background: #ffffff;
    color: #353d54;
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
    font-size: 14px;
    padding-left: 10px;
}
/* FONT STYLES */
.sheet-quality-header{
    text-transform: uppercase;
    font-family: "Avenir Next Condensed";
    font-size: 14;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top:-1px;
}
.sheet-title-text {
    text-transform: uppercase;
    font-family:"Avenir Next Condensed";
    font-size: 30px;
    font-weight: 625;
    color: #000000;
    letter-spacing: 3px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.sheet-xp-desc {
    font-family: "Avenir Next Condensed";
    font-size: 12px;
    font-weight: 200;
    color: #7f7f7f;
    padding-left: 10px;
}
.sheet-journey-header {
    text-transform: uppercase;
    font-family: "Avenir Next Condensed";
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 200;
    color: #ffffff;
    padding-left: 10px;
}
.sheet-label,
input[type=text].sheet-label,
textarea.sheet-label {
	text-transform: uppercase;
	font-family: "Avenir Next Condensed";
}
.sheet-smallcaps {
	text-transform: uppercase;
	font-family: "Avenir Next Condensed";
	letter-spacing: 2px;
	font-style: "Ultra Light";
	font-weight: 800;
	letter-spacing: 1px;
}
.sheet-bold {
    font-family: "Avenir Next Condensed";
    font-style: "Demi Bold";
	font-weight: 800;
	letter-spacing: 1px;
}
.sheet-italic,
.sheet-italic input[type=text] {
	font-family: "Avenir Next Condensed";
	font-style: Italic;
	font-weight: 200;
}

/*CHECKBOX STUFF*/
.sheet-settings input.sheet-checkbox[type=checkbox] {
	margin: 0;
}
.sheet-settings input.sheet-checkbox[type=checkbox] + span {
	flex-shrink: 0;
	margin-right: 6px;
}
input.sheet-checkbox.sheet-circlebox-small + span {
	border-radius: 40px;
	height: 9px;
	width: 9px;
	background: white;
}

/* ROLL TEMPLATES */
/* Container */
.sheet-rolltemplate-vigor .sheet-roll-holder {
	margin-left: -45px;
	margin-right: -1px;
	width: 299px;
	overflow: hidden;
	font-variant-numeric: lining-nums;
}

.sheet-rolltemplate-vigor .sheet-roll-holder.sheet-roll-quality.sheet-roll-short {
	height: 195px;
}
.sheet-rolltemplate-vigor .sheet-roll-quality,
.sheet-rolltemplate-vigor .sheet-roll-vigor,
.sheet-rolltemplate-vigor .sheet-roll-asset {
	height: 258px;
}

/* Background images */
.sheet-rolltemplate-vigor .sheet-roll-quality,
.sheet-rolltemplate-vigor .sheet-roll-vigor,
.sheet-rolltemplate-vigor .sheet-roll-asset {
	background-image: url(https://raw.githubusercontent.com/haushalter/VigorRPG/master/vigor-rolltemplate-01-01.png);
}
/* Images */
.sheet-rolltemplate-vigor .sheet-roll-quality img,
.sheet-rolltemplate-vigor .sheet-roll-vigor img,
.sheet-rolltemplate-vigor .sheet-roll-asset img{
	height: 31px;
}
/* Name */
.sheet-rolltemplate-vigor .sheet-roll-name {
	line-height: 0px;
	height: 20px;
	padding: 32px 0 0 30px;
	width: 237px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sheet-rolltemplate-vigor .sheet-roll-quality .sheet-roll-name,
.sheet-rolltemplate-vigor .sheet-roll-vigor .sheet-roll-name,
.sheet-rolltemplate-vigor .sheet-roll-asset .sheet-roll-name {
	font-family: "Avenir Next Condensed";
	text-transform: uppercase;
	letter-spacing: 2px;
}
.sheet-rolltemplate-vigor .sheet-roll-quality .sheet-roll-name,
.sheet-rolltemplate-vigor .sheet-roll-vigor .sheet-roll-name,
.sheet-rolltemplate-vigor .sheet-roll-asset .sheet-roll-name {
	font-size: 103%;
	letter-spacing: 1px;
	font-weight: 300;
}

.sheet-rolltemplate-vigor .sheet-roll-quality .sheet-roll-name,
.sheet-rolltemplate-vigor .sheet-roll-vigor .sheet-roll-name,
.sheet-rolltemplate-vigor .sheet-roll-asset .sheet-roll-name {
	color: #000000;
}

/* Title */
.sheet-rolltemplate-vigor .sheet-roll-quality .sheet-roll-title,
.sheet-rolltemplate-vigor .sheet-roll-vigor .sheet-roll-title,
.sheet-rolltemplate-vigor .sheet-roll-asset .sheet-roll-title{
	padding-left: 30px;
	padding-top: 22px;
}

.sheet-rolltemplate-vigor .sheet-roll-title span {
	color: white;
	letter-spacing: 2px;
	font-family: "Avenir Next Condensed";
	text-transform: uppercase;
}
.sheet-rolltemplate-vigor .sheet-roll-quality .sheet-roll-title span,
.sheet-rolltemplate-vigor .sheet-roll-vigor .sheet-roll-title span,
.sheet-rolltemplate-vigor .sheet-roll-asset .sheet-roll-title span {
	line-height: 33px;
	font-size: 30px;
}
/* Subtitle */
.sheet-rolltemplate-vigor .sheet-roll-subtitle {
	padding-left: 30px;
}
.sheet-rolltemplate-vigor .sheet-roll-quality .sheet-roll-subtitle,
.sheet-rolltemplate-vigor .sheet-roll-vigor .sheet-roll-subtitle,
.sheet-rolltemplate-vigor .sheet-roll-asset .sheet-roll-subtitle{
	font-family: "Avenir Next Condensed";
	text-transform: uppercase;
	font-size: 103%;
	letter-spacing: 1px; 
	font-weight: 500;
	line-height: 0px;
	font-style: italic;
}
.sheet-rolltemplate-vigor .sheet-roll-quality .sheet-roll-subtitle {
	color: #000000;
}
.sheet-rolltemplate-vigor .sheet-roll-vigor .sheet-roll-subtitle {
	color: #000000;
}
.sheet-rolltemplate-vigor .sheet-roll-asset .sheet-roll-subtitle {
	color: #000000;
}

/* Inlinerolls */
.sheet-rolltemplate-vigor .inlinerollresult {
	border: 0px solid white !important;
	background-color: rgba(158, 100, 81, 0);
	font-weight: normal;
	padding-left: 0;
}

/* Position and Effect */
.sheet-rolltemplate-vigor .sheet-roll-quality {
		display: inline-block;
		box-sizing: border-box;
		width: 49%;
		font-family: "Avenir Next Condensed";
		color: white;
		font-weight: 800;
		font-size: 82%;
		letter-spacing: 1px;
		padding-top: 20px;
		padding-left: 29px;
}
.sheet-rolltemplate-vigor .sheet-roll-asset {
		padding-left: 15px;
}
/* Dice */
.sheet-rolltemplate-vigor .sheet-roll-dice {
	font-family: "Avenir Next Condensed";
	text-transform: uppercase;
	height: 27px;
	font-size: 137%;
	letter-spacing: 0px;	
	font-weight: 800;
	line-height: 20px;
	padding: 41px 30px 20px;
	color: white;
}
.sheet-rolltemplate-vigor .sheet-roll-vigor .sheet-roll-dice {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
}

/* Instructions and Notes */
.sheet-rolltemplate-vigor .sheet-roll-instructions {
	font-family: "Avenir Next Condensed";
	padding: 15px 56px 0px 27px;
	font-weight: 300;
}
.sheet-rolltemplate-vigor .sheet-roll-instructions em {
	font-style: normal;
	font-weight: 300;
}
.sheet-rolltemplate-vigor .sheet-roll-notes {
	width: 46%;
	line-height: 112%;
	font-size: 98%;
	padding: 20px 0 30px 29px;
	color: #ffffff;
	font-family: "Avenir Next Condensed";
	font-weight: 300;
	font-style: italic;
}
.sheet-rolltemplate-vigor .sheet-roll-body {
	width: 85%;
	line-height: 112%;
	font-size: 98%;
	padding: 0px 29px 0px 29px;
	color: #ffffff;
	font-family: "Avenir Next Condensed";
	top: -50%;
}
/* Dice rolls */
.sheet-rolltemplate-vigor .sheet-comma:last-child {
		display: none;
}
